# System files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Environment variables
.env
.env.local

# Dependencies
node_modules/
venv/
.venv/

# Build output
dist/
build/

# Editor settings
.vscode/
.idea/
